<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% if title %}
            Про Flask - {{ title }}
        {% else %}
            Про Flask
        {% endif %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

{% block content %}

<ul class="menu">
    {% for i in menu %}
    <li>
        <a href="{{ i.url }}">{{ i.title }}</a>
    </li>
    {% endfor %}
</ul>

<div class="container">
    {% if title %}
    <h1>{{ title }}</h1>
    {% else %}
    <h1>Про Flask</h1>
    {% endif %}
</div>

{% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{ cat }}"> {{ msg }}</div>
{% endfor %}

{% endblock %}

</body>
</html>