{% extends 'main.html' %}

{% block title %} {{ super() }} {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_post.css') }}">
{% endblock %}

{% block content %}
{{ super() }}

<h2>Добавление статьи</h2>

<form action="/add_post" method="post">
    <p class="article_url">URL статьи: </p>
        <input type="text" name="url" required>

    <p class="article_name">Название статьи: </p>
        <input type="text" name="title" required>

    <p class="article_preview">Превью статьи: </p>
    <p class="article_preview_field">
        <textarea name="text" cols="40" rows="12"></textarea>
    </p>

    <p class="article_text">Текст статьи: </p>
    <p class="article_text_field">
        <textarea name="description" cols="40" rows="12"></textarea>
    </p>

    <button class="add_article_button" type="submit">Добавить статью</button>
</form>

{% endblock %}