<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block title %} {{ title }} {% endblock %} </title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
    {% block css %} {% endblock %}
</head>
<body>
    {% block content %}

    <ul class="menu">
        {% for i in menu %}
        <li>
            <a href="{{ i.url }}">{{ i.title }}</a>
        </li>
        {% endfor %}
    </ul>

    {% endblock %}
</body>
</html>

