{% extends 'skills/base.html' %}

{% block content %}
<h1>Блог</h1>
<div class="count" style="padding: 0; font-size: 20px">Постов: {{ blogs.count }}</div>
{% for blog in blogs %}
<div class="element">
    <h2 class="top">
        <a href="{% url 'blog:details' blog.id %}">{{ blog.title }}</a>
    </h2>

    <div class="blog_text">
<!--        <h3>Опубликовано {{ blog.date | date:'d.m.Y' }}</h3>-->
        <p>{{ blog.description | striptags | truncatechars:360 }}</p>
    </div>
</div>
{% endfor %}

{% endblock %}