<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="products">
        {% macro product_list(products) %}
            <ul>
                {%- for prod in products -%}
                    {%- if prod.price < 10 %}
                    <li> {{ prod.name }} : {{ prod.price }} -> доступный

                    {%- elif prod.price <= 20 %}
                    <li> {{ prod.name }} : {{ prod.price }} -> средняя цена

                    {%- elif prod.price <= 30 %}
                    <li> {{ prod.name }} : {{ prod.price }} -> цена выше средней

                    {%- else %}
                    <li> {{ prod.name }} : {{ prod.price }} -> дорогой

                    {%- endif %}
                {%- endfor %}
            </ul>
        {%- endmacro -%} {{product_list(products)}}
    </div>

    <div class="products">
        {% macro list_users(users) %}
        <ul>
            {%- for user in users -%}
                {%- if user.email.endswith('@gmail.com') %}
                    <li>{{ user.name }} -> {{ user.email }}</li>
                {% endif -%}
            {%- endfor %}
        </ul>
        {% endmacro -%}
        {{ list_users(users) }}
    </div>
</body>
</html>